<<<<<<< HEAD
/*h2.intro {
  font-family: monospace;
  color: Olive;
  font-weight: bolder;
}
p.intro {
  font-style: oblique;
  font-stretch:extra-condensed;
}
img.intro {
  width: 45%;
  margin: auto;
}*/

.intro {
  font-family: monospace;
  color: Olive;
  font-weight: bolder;
  font-style: oblique;
  font-stretch:extra-condensed;

}
img {
  width: 45%;
  margin: auto;
}

.paragraph1 {
  background-color: yellow;
  border: 3px solid green;
}

.paragraph2 {
  background-color: yellow;
  border: 3px solid green;
=======
.intro {
  color: red;
>>>>>>> 0252768ba9d48ba2181b094a91749f99bda23790
}
